/*utilize cosas que entendi al invetigar*/
body {
    margin: 0 auto;
    line-height: 1.71429;
}
.contenedor{
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
}
/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;*/
/*desde aqui se modifica interno-1 la cabeza*/
.interno-1{
    background-color: #2c3e50;
    height: 120px;
    z-index: 10;
    position: fixed;
}
.interno-1 h2{
    display: inline-block;
    color: #fff;
    margin-top: 3%;
   
}
.container-port{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-left: 35%;
}
.container-port ul{
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.container-port ul li{
    float: left;
    display: inline-block;
    margin-left: 8%;  
}
.container-port ul li a{
    text-decoration: none;
    font-size: 110%;
    color: #fff;

}
.container-port ul li a:hover{
    color: #09bb98;
}
/*propiedades que se utilizar para el efecto de scroll hacia abajo*/
.header2{
    position: fixed;
    width: 100%;
    height: 80px;
}
.header2 h2,.header2 .container-port{
    margin-top: 1.5%;
}
/*al pasar por donde es correcto se marca el fondo de las 
palabras de navegador*/
.fondo-verde{
    background-color: #18bc9c;
    border-radius: 5px;
    padding: 2%;
}
/*al pasar por donde es correcto se marca*/
.fondo-verde a:hover{
    color: #fff !important;
}

/*desde aqui se modifica interno-2*/
.interno-2,.interno-4{
    background-color: #18bc9c;
    height: 100%;
}
/*tamaño de imagen*/
.img-profile{
    padding-top: 15%;
    width: 20%;
    display: inline-block;
}
.text-2,.text-4{
    padding-top: 5%;
    color: #fff;
}
.text-2 h1{
    font-size: 500%;
    margin-bottom: 2%;
}
/*estrellas blancas*/
.strip-1:before,.strip-1:after{
    content: "";
    border: 2px solid #fff;
    display: inline-block;
    width: 8%;
    margin-bottom: 0.6%; 
    margin-right: 0.4%;
}
/*modificacion al parrafo del texto*/
.text-2 p{
    font-family: 'Lato', sans-serif;
    font-size: 170%;
    margin-top: 3%; 
    margin-bottom: 5%;
}
/*estrellas negras se le agrega una raya antes y despues*/
.strip-2:before,.strip-2:after{
    content: "";
    border: 2px solid #2c3e50;
    display: inline-block;
    background-color: #2c3e50;
    width: 8%;
    margin-bottom: 0.6%; 
    margin-right: 0.4%;
}
/*color casi negro de las letras*/
.text-3, .text-5{
    color: #2c3e50; 
    margin-top: 5%;
}

/*desde aqui se modifica section-3 o interno-3*/
.text-3 h2,.text-5 h2{
    font-size: 300%;
    color: black; 
    margin-bottom: 3%;
}
.imagenes{
    display: inline-block;
    width: 80%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;  
}
.imagenes .row .col img{
    padding: 3%;
}
/*¿? aun no descubro como hacer que automaticamente se quede del porte de la foto*/
.cubrir-al-pasar {
    position: absolute;
    opacity: 0;
    background-color: #18bc9c;
    width: 90%;
    height: 96%;
}
/*para que cuando cubra sea transparente y se pueda notar la imagen de fondo*/
.cubrir-al-pasar:hover {
    opacity: 0.8;
}
/*modifica icono de busqueda(+)*/
.fa-search-plus{
    margin-top: 30%;
    color: #fff;
}
/*desde aqui modifica section-4 con class interno-4 (con lo ya determinado en contenedor)*/
/*modifica texto ABOUT tamaño*/
.text-4 h2{
    font-size: 300%;
    margin-bottom: 2%;
}
.parrafos-columna{
    font-family: 'Lato', sans-serif;
    font-size: 130%;
    display: inline-block;
    margin-top: 2%;
    column-count: 2;
    text-align: justify;
    color: #fff;
    width: 50%;
}
/*modifica al boton de descarga, tamano posicion, forma*/
.boton-descarga a{
    display: inline-block;
    border: 3px solid #fff;
    text-decoration: none;
    color: #fff;
    border-radius: 7px; 
    margin-bottom: 5%;
    margin-top: 3%;
    width: 20%;
}

/*modifia a la palabra e icono*/
.dow > i,.dow > p{
    padding-top: 3%;
    font-size: 150%;
    display: inline-block;
}
/*al pasar por encima de download cambia de color*/
.boton-descarga a:hover{
    background-color: #fff;
    color: #18bc9c;
}
/*desde aqui empieza section-5 con class interno-5 que ya fue modificado al ser lo mismo que interno-3*/
/*modifica al titulo contact Me y la estrella dandole color necesario y separacion entre texto y formulario*/
.text-5{
    color: #2c3e50; 
    margin-top: 5%;
}
/*medidas al formulario de contacto*/
form{
    display: inline-block;
    width: 50%;
    height: 100%;
    margin-top: 5%;
}
/*quita la linea cuando se pincha*/
input:focus{
    outline: none; 
}
/*quita la linea cuando se pincha*/
textarea:focus{
    outline: none; 
}
/*quita el borde, agrandar letras y ocupa todo el tamaño del padre*/
.name,.email,.phone,.message{
    border: none;
    font-size: 150%;
    width: 100%;
}
/*send modificar al tamaño que se necesita y posicion*/
.enviar{
    font-family: 'Montserrat';
    display: block;
    width: 12%;
    margin-bottom: 20%;
}
/*boton predeterminado de bootstrap se lo cambie*/
.btn-success{
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.btn-success:hover {
    border-color: #11866f;
    background-color: #128f76;
}
/*modifica la section-6 desde aqui (viene con lo establecido en la class contenedor) mas footer*/
.interno-6,.pie-pagina{ 
    background-color: #2c3e50;
    color: #fff;  
    padding: 3%;
}
/*separar y agrandar gruesor de mini titulos en secction-6*/
.interno-6 .row h4{
    font-weight: 800;
    padding: 5%;
}
/*quitar margin y agrandar letras en secction-6 de los parrafos e iconos*/
.interno-6 .col p,.interno-6 .col i{
    margin: 0;
    font-size: 120%;
}
.free{
    margin-right: 2%;
}
.interno-6 .col p{
    color: #fff;
}
.circulo {
    display: inline-block;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 1%;
    text-align: center;
    color: #fff;
}
/*centrar iconos en el circulo*/
.circulo i{
    padding-top: 30%;
}
/*cambiar color al circulo e icono cuando se pasa por encima*/
.circulo:hover{
    background-color: #fff;
    color: #18bc9c;
}
/*cambia color de la palabra y cuando se pasa por encima viene predeterminado por bootstrap en ABOUT FREELANCER*/
.col p a{
    color:#18bc9c;
}

/*modifica pie de pagina dese aquí (viene con lo establecido en la class contenedor)*/
/*.pie-pagina{
    background-color: #2c3e50;
    color: #fff;
    padding: 3%;
}*/
